
/*----------------------------
    Styling the presentation
-----------------------------*/


#impress:not(.impress-not-supported) .step{
    opacity:0.4;
}

#impress .step{
    width: 540px;
    position:relative;
    margin:0 auto;
    
    -moz-transition:1s opacity;
    -webkit-transition:1s opacity;
    transition:1s opacity;
}

#impress .step.active{
    opacity:1;
}

#impress .step h2{
    left: 0;
    top: 0px;
}

#impress .step p{
    left: 50px;
    text-align: justify;
    text-indent: 16px;
    top: 20px;
}

#impress .step img{
    right: 0;
    top: 30px;
}




#impress h2{
    font: normal 44px/1.5 'PT Sans Narrow', sans-serif;
    color:#444648;
    z-index:10;
}

#impress p{
    font: normal 18px/1.3 'Open Sans', sans-serif;
    color:#27333f;
    z-index:10;
}

#impress img{
    margin: 20px 0 0 20px;
    z-index:1;
}

.arrow{
    width:32px;
    height:54px;
    background:url('../img/arrows.png') no-repeat;
    position:fixed;
    top:50%;
    margin-top:-27px;
    cursor:pointer;
    text-indent:-9999px;
    overflow:hidden;
    opacity:0.8;
    border:none !important;
    text-decoration:none !important;
    
    -moz-transition:0.2s opacity;
    -webkit-transition:0.2s opacity;
    transition:0.2s opacity;
}

.arrow:hover{
    opacity:1;
}

#arrowLeft{
    float: left;
}

#arrowRight{
    margin-left: 510px;
    background-position:top right;
}

/* Hide the arrows if impress is not supported */

#impress.impress-not-supported + .arrow,
#impress.impress-not-supported + .arrow + .arrow{
    display:none;
}




#content{
    width: 100%;
    height: 100%;
    background-color: gray;
}

#side-menu{
    float: left;
    position: relative;
    margin: 10% 0 0 30%;
    width: 200px;
    height: 420px;
    background-color: blue;

}

#main-content{
    float: left;
    position: relative;
    margin: 10% 0 0 30%;
    width: 540px;
    height: 640px;
    background-color: #fff;
    overflow: hidden;
}

.caption-holder{
    margin: 0 20px 0 20px;
}

#side-nav{
    width: 200px;
    height: 640px;
    margin: 10% 0 0 1%;
    float: left;
    background-color: #ddd;
}
#side-nav span{
    margin: 5px 0 0 5px;
}